body {
	background-color: #ccc;
	font-family: sans-serif;
}
a {
	text-decoration: none;
	color: #048;
}
form {
	margin: 2em;
}
div.compat {
	margin: 2em;
}
table {
	border-collapse: collapse;
	margin: 2em;
}
table td {
	border: 1px solid #111;
	text-align: center;
}
.agree {
	background-color: #4c8;
}
.disagree {
	background-color: #c66;
}
