body {
	background-color: #ccc;
	font-family: sans-serif;
}
a {
	text-decoration: none;
	color: #048;
}
table {
	border-collapse: collapse;
}
table td {
	border: 1px solid #111;
	text-align: center;
}
